@media (max-width: 768px) {
  .section-gallery {
    height: 250px;
    /* Adjust height for smaller screens */
  }

  .slide-title {
    font-size: 36px;
    /* Smaller font size for slide titles */
  }

  .main-title {
    font-size: 36px;
    /* Adjust title font size */
    padding: 30px;
  }

  .strategy-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .marketing-strategy,
  .area-exposure {
    width: 80%;
    /* Full width on tablets */
  }

  .characteristics img {
    width: 40px;
    /* Resize icons */
  }

  .real-estate-logos img {
    width: 300px;
    /* Adjust logo size */
  }
}

/* Responsive styling for mobile screens */
@media (max-width: 480px) {
  .section-gallery {
    height: 200px;
  }

  .slide-title {
    font-size: 24px;
    /* Further reduce font size for mobile */
  }

  .main-title {
    font-size: 28px;
    padding: 20px;
    margin-bottom: 30px;
  }

  .strategy-container {
    gap: 20px;
  }

  .marketing-strategy,
  .area-exposure {
    width: 90%;
    padding: 15px;
  }

  .slide p,
  .slide ul {
    font-size: 0.9em;
    /* Adjust text size for readability */
  }

  .characteristics img {
    width: 30px;
    /* Smaller icons on mobile */
  }

  .real-estate-logos img {
    width: 250px;
    /* Resize logos for mobile */
  }
}